a {
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1s;
}
a:active {
    background-color: rgb(233, 215, 249);
}

a:visited {
    color: blueviolet;
}
header {
    height: 80px;
    background-color: rgb(253, 253, 188);
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

header img {
    height: 100%;
}

#menu-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#menu-links a {
    color: rgb(67, 39, 39);
    text-decoration: none;
}

